Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

ran update for dev
  Pipfile.lock
  requirements-dev.txt
  requirements.txt
Due: none

Update news file and remove extraneous lines from reno files
  NEWS.rst
  releasenotes/notes/add-system-default-theme-detection-f2fa7918948e0135.yaml
  releasenotes/notes/auto-hide-tabbar-e0809d4f550c970d.yaml
Due: blacken-docs

Fix vte spawn_sync runtime check failed
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Add reno for #1974
  releasenotes/notes/fragment_name-2a5a482a34398a59.yaml
Due: none

Add `GUAKE_ENABLE_WAYLAND` environment variable
  guake/main.py
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Add reno file
  guake/main.py
  guake/terminal.py
  releasenotes/notes/bugfix-guake_enable_wayland-5048964c25699a85.yaml
Due: flynt, isort, black, flake8, tests

sem-ver: feature Upgrade logger to version with file:line and logger file
  docs/source/conf.py
  guake/boxes.py
  guake/customcommands.py
  guake/globals.py
  guake/gsettings.py
  guake/guake_app.py
  guake/guake_logging.py
  guake/keybindings.py
  guake/main.py
  guake/menus.py
  guake/notebook.py
  guake/palettes.py
  guake/paths.py.in
  guake/prefs.py
  guake/terminal.py
  guake/theme.py
  guake/utils.py
  releasenotes/notes/feature_logger-a7119055e66145ef.yaml
  scripts/all-sitedirs-in-prefix.py
Due: flynt, isort, black, flake8, tests

Switch default for hide tab bar if only one tab to disabled
  guake/data/org.guake.gschema.xml
  guake/tests/test_guake.py
Due: flynt, isort, black, flake8, tests

Add instructions for PPA install
  docs/source/user/installing.rst
Due: blacken-docs

Changed default keybindig to toggle hide on lose focus
  guake/data/org.guake.gschema.xml
  releasenotes/notes/Changed_default_keybindig_to_toggle_hide_on_lose_focus-44a261e8c41e01d1.yaml
Due: none

Change pipenv install version to 2021.11.23
  scripts/bootstrap-dev-pip.sh
Due: none

Add --site-package flag on pipenv-install-dev Makefile rule
  Makefile
Due: none

Add release note for bugfix on issue #1971
  releasenotes/notes/bugfix-gi-not-found-when-make-run-c30cf8be36345384.yaml
Due: none

Changed default keybindig to toggle hide on lose focus
  guake/data/org.guake.gschema.xml
Due: none

Changed default keybindig to toggle hide on lose focus
  releasenotes/notes/Changed_default_keybindig_to_toggle_hide_on_lose_focus-44a261e8c41e01d1.yaml
Due: none

Downgrade pipenv version to 2021.5.29
  releasenotes/notes/downgrade-pipenv-version-21c21c06e1e94049.yaml
  scripts/bootstrap-dev-pip.sh
Due: none

Revert "Change pipenv install version to 2021.11.23"
  scripts/bootstrap-dev-pip.sh
Due: none

Revert "Add release note for bugfix on issue #1971"
  releasenotes/notes/bugfix-gi-not-found-when-make-run-c30cf8be36345384.yaml
Due: none

Revert "Add --site-package flag on pipenv-install-dev Makefile rule"
  Makefile
Due: none

tighten the locale pattern matching by excluding sources
  setup.cfg
Due: none

setup.cfg: migrate more settings from pbr to built-in setuptools config
  setup.cfg
Due: none

setup: replace the last remnant of pbr with setuptools_scm
  .gitignore
  Makefile
  docs/source/contributing/packaging.rst
  docs/source/user/installing.rst
  guake/__init__.py
  guake/main.py
  scripts/bootstrap-dev-arch.sh
  scripts/bootstrap-dev-debian.sh
  setup.cfg
  setup.py
Due: flynt, isort, black, blacken-docs, flake8, tests

Add release note file
  releasenotes/notes/switch_versioning_setuptools_scm-6481ee944dbb5d0a.yaml
Due: none

Fix upload to pypi test
  .github/workflows/ci.yml
  setup.py
Due: flynt, isort, black, flake8, tests

Fix translation file inclusion
  MANIFEST.in
  setup.cfg
Due: none
