Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

Add auto-system default theme option
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/prefs.py
  guake/theme.py
Due: flynt, isort, black, flake8, tests

Clean up low hanging flake8 fruit, set a checkbox on startup
  guake/about.py
  guake/dbusiface.py
  guake/dialogs.py
  guake/guake_app.py
  guake/prefs.py
  guake/support.py
  guake/terminal.py
  releasenotes/notes/add_system_default_theme_detection-345e742c9c13774b.yaml
Due: flynt, isort, black, flake8, tests

Add hide tab bar when only one tab option
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/gsettings.py
  guake/notebook.py
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Fix typo in slug template
  releasenotes/config.yaml
Due: none

ci:Switch to github actions.
  .github/workflows/ci.yml
  .travis.yml
  Makefile
Due: none

fix: Get CI to pass
  .flake8
  .pylintrc
  Pipfile
  guake/about.py
  guake/boxes.py
  guake/customcommands.py
  guake/dbusiface.py
  guake/dialogs.py
  guake/guake_app.py
  guake/main.py
  guake/paths.py.in
  guake/prefs.py
  guake/settings.py
  guake/support.py
  guake/terminal.py
  guake/tests/test_guake.py
  guake/utils.py
  releasenotes/config.yaml
  scripts/bootstrap-dev-debian.sh
  setup.cfg
Due: flynt, isort, black, flake8, tests

Format source code by black
  guake/__init__.py
  guake/about.py
  guake/boxes.py
  guake/common.py
  guake/dialogs.py
  guake/globals.py
  guake/gsettings.py
  guake/guake_app.py
  guake/guake_logging.py
  guake/keybindings.py
  guake/menus.py
  guake/notebook.py
  guake/prefs.py
  guake/settings.py
  guake/terminal.py
  guake/theme.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Update black to latest version
  Pipfile
  Pipfile.lock
  requirements-dev.txt
Due: none

Add slug file
  releasenotes/notes/fix_ignored_show_scrollbar_when_splitting-e860e0324ac97efc.yaml
Due: none

Fix search with vte 0.6+
  guake/boxes.py
  guake/globals.py
  releasenotes/notes/fix_search_vte0.46-b92145bc1e572521.yaml
Due: flynt, isort, black, flake8, tests

adding uuid
  guake/terminal.py
  releasenotes/notes/revive_GUAKE_TAB_UUID-1767775341f93c97.yaml
Due: flynt, isort, black, flake8, tests

Fix "Gruvbox Dark" Palette
  guake/palettes.py
Due: flynt, isort, black, flake8, tests

Add Gruvbox Material Dark palette
  guake/palettes.py
Due: flynt, isort, black, flake8, tests

Add slug file
  releasenotes/notes/add_new_gruvbox_dark_fix_gruvbox-d7701ffff18a5156.yaml
Due: none

Add PIPENV_IGNORE_VIRTUALENVS=1
  Makefile
Due: none

Add dataclasses to dev-dependencies
  Pipfile
  Pipfile.lock
Due: none

Update build badge URL
  README.rst
Due: blacken-docs

Update docs that mention travis to GitHub Actions
  docs/source/contributing/hacking.rst
Due: blacken-docs

Setting up direnv
  .flake8
  .gitignore
Due: none

Clean up low hanging flake8 fruit, set a checkbox on startup
  guake/prefs.py
  releasenotes/notes/add_system_default_theme_detection-345e742c9c13774b.yaml
Due: flynt, isort, black, flake8, tests

Regenerate slug file and formatting
  guake/prefs.py
  releasenotes/notes/add-system-default-theme-detection-f2fa7918948e0135.yaml
Due: flynt, isort, black, flake8, tests

remove unneeded dependency on mock
  guake/tests/test_quick_open.py
  requirements-dev.txt
Due: flynt, isort, black, flake8, tests

remove useless import of pkg_resources
  guake/paths.py.in
Due: none

remove unused function
  guake/simplegladeapp.py
Due: flynt, isort, black, flake8, tests

remove broken and unused codepath
  guake/simplegladeapp.py
Due: flynt, isort, black, flake8, tests

remove broken and unused code
  guake/simplegladeapp.py
Due: flynt, isort, black, flake8, tests

remove unannounced dependency on 'cairo'
  guake/guake_app.py
  guake/main.py
Due: flynt, isort, black, flake8, tests

port unused code to from pygtk to gobject
  guake/simplegladeapp.py
Due: flynt, isort, black, flake8, tests

move unused imports into the commented out non-production code which uses them
  guake/main.py
Due: flynt, isort, black, flake8, tests

do not ignore missing imports in flake checks
  .flake8
Due: none

remove broken and unused codepath
  guake/boxes.py
Due: flynt, isort, black, flake8, tests

simplify gettext installation; add it to the global namespace
  .flake8
  guake/about.py
  guake/boxes.py
  guake/customcommands.py
  guake/dialogs.py
  guake/globals.py
  guake/gsettings.py
  guake/guake_app.py
  guake/keybindings.py
  guake/main.py
  guake/menus.py
  guake/notebook.py
  guake/prefs.py
  guake/tests/__init__.py
Due: flynt, isort, black, flake8, tests

remove unused imports
  .flake8
  guake/about.py
  guake/callbacks.py
  guake/common.py
  guake/gsettings.py
  guake/guake_app.py
  guake/menus.py
  guake/notebook.py
  guake/prefs.py
  guake/support.py
  guake/terminal.py
  guake/tests/test_guake.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Remove unused glib import
  guake/boxes.py
Due: flynt, isort, black, flake8, tests

setup.cfg: remove obsolete line that does nothing
  setup.cfg
Due: none
