Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

flynt:
  name: flynt
  entry: flynt
  language: python
  args:
  - --quiet
  - --line_length
  - '100'
  additional_dependencies:
  - flynt

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true
  args:
  - --quiet
  - --apply
  - --line-width
  - '100'

black:
  name: black
  language: system
  entry: black
  require_serial: true
  args:
  - --quiet

blacken-docs:
  name: blacken-docs
  language: system
  entry: blacken-docs
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - push

tests:
  name: run tests
  entry: pytest -v
  language: system
  stages:
  - push

Modernized syntax via pyupgrade and flynt.
  docs/source/conf.py
  guake/__init__.py
  guake/about.py
  guake/boxes.py
  guake/callbacks.py
  guake/common.py
  guake/dbusiface.py
  guake/dialogs.py
  guake/globals.py
  guake/gsettings.py
  guake/guake_app.py
  guake/guake_logging.py
  guake/keybindings.py
  guake/main.py
  guake/notebook.py
  guake/notifier.py
  guake/palettes.py
  guake/prefs.py
  guake/settings.py
  guake/simplegladeapp.py
  guake/split_utils.py
  guake/support.py
  guake/terminal.py
  guake/tests/test_about.py
  guake/tests/test_guake.py
  guake/tests/test_notebook.py
  guake/theme.py
  guake/utils.py
  scripts/all-sitedirs-in-prefix.py
  setup.py
Due: flynt, isort, black, flake8, tests

Ordered imports via isort.
  guake/about.py
  guake/boxes.py
  guake/callbacks.py
  guake/common.py
  guake/customcommands.py
  guake/dialogs.py
  guake/gsettings.py
  guake/guake_app.py
  guake/keybindings.py
  guake/main.py
  guake/menus.py
  guake/notebook.py
  guake/notifier.py
  guake/prefs.py
  guake/settings.py
  guake/simplegladeapp.py
  guake/split_utils.py
  guake/support.py
  guake/terminal.py
  guake/tests/test_about.py
  guake/tests/test_guake.py
  guake/tests/test_quick_open.py
  guake/theme.py
  guake/utils.py
  pyproject.toml
  scripts/all-sitedirs-in-prefix.py
Due: flynt, isort, black, flake8, tests

Formatted all source and doc files via black.
  .yapf
  docs/source/conf.py
  guake/__init__.py
  guake/about.py
  guake/boxes.py
  guake/callbacks.py
  guake/common.py
  guake/customcommands.py
  guake/dbusiface.py
  guake/dialogs.py
  guake/globals.py
  guake/gsettings.py
  guake/guake_app.py
  guake/guake_logging.py
  guake/guake_toggle.py
  guake/keybindings.py
  guake/main.py
  guake/menus.py
  guake/notebook.py
  guake/notifier.py
  guake/palettes.py
  guake/prefs.py
  guake/settings.py
  guake/simplegladeapp.py
  guake/split_utils.py
  guake/support.py
  guake/terminal.py
  guake/tests/test_about.py
  guake/tests/test_guake.py
  guake/tests/test_notebook.py
  guake/tests/test_quick_open.py
  guake/theme.py
  guake/utils.py
  scripts/all-sitedirs-in-prefix.py
  setup.py
Due: flynt, isort, black, flake8, tests

Removed unused imports.
  guake/about.py
  guake/boxes.py
  guake/callbacks.py
  guake/common.py
  guake/customcommands.py
  guake/globals.py
  guake/gsettings.py
  guake/guake_app.py
  guake/main.py
  guake/menus.py
  guake/notebook.py
  guake/prefs.py
  guake/support.py
  guake/terminal.py
  guake/tests/test_guake.py
  guake/tests/test_quick_open.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Fixed bare except statements.
  guake/gsettings.py
  guake/main.py
  guake/prefs.py
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Migrated calls to literals.
  guake/gsettings.py
  guake/guake_app.py
  guake/prefs.py
  guake/settings.py
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Removed unused variables.
  guake/guake_logging.py
  guake/keybindings.py
  guake/notebook.py
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Formatting improvements.
  guake/guake_logging.py
  guake/keybindings.py
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Fixes for undefined variables.
  guake/boxes.py
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Update guake_app.py
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Removed trailing spaces
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Fix Crash (TypeError) when common keys are found in config
  guake/prefs.py
  releasenotes/notes/bugfix-43bafb402b26f8c8.yaml
Due: flynt, isort, black, flake8, tests

update to pip 20.0.2
  scripts/bootstrap-dev-pip.sh
Due: none

Add note about using pipx to install guake
  docs/source/user/installing.rst
  releasenotes/notes/pipx-e298c749a371bb59.yaml
Due: blacken-docs

Update translations
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/es.po
  po/fa.po
  po/fr.po
  po/gl.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Due: none

Update French translation
  po/fr.po
Due: none

Prepare release
  NEWS.rst
Due: blacken-docs

Release 3.7.0
  NEWS.rst
Due: blacken-docs

fix: double click in tmux/vim
  guake/notebook.py
  releasenotes/notes/fix_double_click_new_tab-5cafb9738e3a9218.yaml
Due: flynt, isort, black, flake8, tests

Translated using Weblate (Turkish)
  po/tr.po
Due: none

Translated using Weblate (Catalan)
  po/ca.po
Due: none

Translated using Weblate (Spanish)
  po/es.po
Due: none

Translated using Weblate (Polish)
  po/pl.po
Due: none

Translated using Weblate (Dutch)
  po/nl.po
Due: none

Translated using Weblate (Swedish)
  po/sv.po
Due: none

Ditch Pipfile for pyproject.toml
  Pipfile
  Pipfile.lock
  poetry.lock
  pyproject.toml
Due: none

Modify Makefile to use poetry
  Makefile
Due: none

Update requirements files
  requirements-dev.txt
  requirements.txt
Due: none

Modify travis.yml to use poetry
  .travis.yml
Due: none

Update docs to reflect move to poetry
  docs/source/user/gtk3.rst
Due: blacken-docs

Replace remaining occurences of pipenv commands
  .github/PULL_REQUEST_TEMPLATE.md
  docs/source/contributing/basic.rst
  git-hooks/post-commit
  scripts/bootstrap-dev-arch.sh
  scripts/bootstrap-dev-pip.sh
  scripts/run-local-prefs.sh
  scripts/run-local.sh
Due: blacken-docs

Add entry for release 4.0.0 to NEWS.rst
  NEWS.rst
Due: blacken-docs

Fix to poetry config command
  .travis.yml
Due: none

Path conditions:
  flynt: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst)
  flake8: any of: \.py$
  tests: any of: \.py$
