Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

Proof of concept for changing the title with a yaml file on each directory
  Pipfile
  docs/source/user/features.rst
  guake/guake_app.py
  releasenotes/notes/per-directory-yaml-e3be0e86170cd71d.yaml
Due: flynt, isort, black, blacken-docs, flake8, tests

Add a boolean to prefs and use time.monotonic to prevent loading the guake.yml file more than once per second
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/guake_app.py
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Clear up deprecations
  guake/boxes.py
  guake/gsettings.py
  guake/guake_app.py
  guake/keybindings.py
  guake/notebook.py
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Remove 'anti-pattern'
  Pipfile
  Pipfile.lock
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Use monkeypatch.setenv instead of copying the os.environ for tests.
  guake/tests/test_about.py
Due: flynt, isort, black, flake8, tests

Update Pipfile.lock
  Pipfile
  Pipfile.lock
  guake/tests/test_about.py
Due: flynt, isort, black, flake8, tests

Trim leading words from the file path regex
  guake/globals.py
  releasenotes/notes/file_open_regex-1a6db403d54601e0.yaml
Due: flynt, isort, black, flake8, tests

Add command line flag to get tab number/position from UUID
  guake/dbusiface.py
  guake/guake_app.py
  guake/main.py
  releasenotes/notes/uuid_index-34baad80fee820d9.yaml
Due: flynt, isort, black, flake8, tests

Reintroduce execute_command dbus hook
  guake/dbusiface.py
  guake/main.py
  releasenotes/notes/execute_in_new_tab-6161bba1822b644c.yaml
Due: flynt, isort, black, flake8, tests

Save layout when splitting/closing split panes
  guake/boxes.py
  guake/utils.py
  releasenotes/notes/save_subterminals-4d086becd64ffcfb.yaml
Due: flynt, isort, black, flake8, tests

Revert keycode for keybinding change and resolve with alternate method
  guake/keybindings.py
  releasenotes/notes/back_to_keyvals-1d21d35a31568e26.yaml
Due: flynt, isort, black, flake8, tests

Make startup script non-blocking
  guake/main.py
  releasenotes/notes/make_startup_script_nonblocking-f73468e705fa712b.yaml
Due: flynt, isort, black, flake8, tests

Cleaning up deepsource complaints
  docs/source/conf.py
  guake/about.py
  guake/guake_app.py
  guake/simplegladeapp.py
  guake/terminal.py
  guake/theme.py
Due: flynt, isort, black, flake8, tests

Set terminal title with compute_tab_title() on new tab creation
  guake/guake_app.py
  guake/notebook.py
  releasenotes/notes/compute_tab_title-7e78635931219f69.yaml
Due: flynt, isort, black, flake8, tests

Make sure _guake_yml_load_monotonic is declared before use
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Remove dataclasses, not used in the code
  Pipfile
  Pipfile.lock
Due: none

Create a FileManager and use it to load files and yaml with minimal cache capabilities
  guake/guake_app.py
  guake/keybindings.py
  guake/tests/__init__.py
  guake/tests/test_guake.py
  guake/tests/test_utils.py
  guake/utils.py
  requirements-dev.txt
Due: flynt, isort, black, flake8, tests

Fixed spelling errors in gschema descriptions
  guake/data/org.guake.gschema.xml
Due: none

Addressed grammar in gschema
  guake/data/org.guake.gschema.xml
Due: none

Strike feathub mentions from documentation
  README.rst
  docs/source/contributing/basic.rst
Due: blacken-docs

Remove duplicate show method that generates unwanted resize events
  guake/guake_app.py
  releasenotes/notes/excess_resize-51a69d94a0559762.yaml
Due: flynt, isort, black, flake8, tests

Add setup troubleshooting message for recent git change
  Makefile
Due: none

Work around setuptools adding extra /local to path
  Makefile
Due: none

Add data files to wheel distribution
  releasenotes/notes/include_data_in_wheels-bc963d0d39d46044.yaml
  setup.cfg
Due: none

Use pip instead of deprecated setup.py
  Makefile
Due: none

Move schemas to /org/
  Makefile
  guake/data/org.guake.gschema.xml
  guake/keybindings.py
  guake/settings.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests
