Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

Add manjaro installation section
  docs/source/user/installing.rst
Due: blacken-docs

Move common log messages to debug
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Fix ci
  .github/workflows/ci.yml
Due: none

Updating all po's
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/es.po
  po/fa.po
  po/fr.po
  po/gl.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Due: none

Fix README.rst
  README.rst
Due: blacken-docs

Do not set GDK_BACKEND to x11 in terminals.
  guake/terminal.py
  releasenotes/notes/fix_gdk_backend-be5c40f221c1e528.yaml
Due: flynt, isort, black, flake8, tests

Make dropdown work when some custom commands are invalid
  guake/customcommands.py
Due: flynt, isort, black, flake8, tests

Add Finnish translations Fix the finnish locale code from fi_FI to fi
  po/LINGUAS
  po/fi.po
Due: none

Add release notes file
  releasenotes/notes/add_finnish_translation-8bc0135add791f02.yaml
Due: none

News file update
  NEWS.rst
Due: blacken-docs

Fixes the formatting for building docs
  docs/source/index.rst
  docs/source/user/installing.rst
Due: blacken-docs

add functionality of lazy focus loss to avoid close on short-term losses
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Reformat the code
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Add preferences menu option and release notes for lazy lose focus
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/guake_app.py
  guake/prefs.py
  releasenotes/notes/lazy_focus_loss-f960e4c23ae89619.yaml
Due: flynt, isort, black, flake8, tests

Fix metainfo directory prefix
  Makefile
Due: none

Update perfs.glade to glade 3.38.2
  guake/data/prefs.glade
Due: none

Add line height/width scale adjustment in prefs.glade
  guake/data/prefs.glade
Due: none

Add line height/width scale in schema
  guake/data/org.guake.gschema.xml
Due: none

Add prefs handling for cell height/width scale
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Add gsettings handling for cell height/width scale
  guake/gsettings.py
Due: flynt, isort, black, flake8, tests

Add cell height/width scale in load_configs
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Add cell height/width scale setup for terminal
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Add release notes for guake.desktop.metainfo.xml move
  releasenotes/notes/move_to_datadir-6d95d29ded5fa040.yaml
Due: none

Add release note file for adjustable line height/width
  releasenotes/notes/add_character_height_and_width_adjustment-6358b6ca88318af9.yaml
Due: none
