Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

flynt:
  name: flynt
  entry: flynt
  language: python
  args:
  - --quiet
  - --line_length
  - '100'
  additional_dependencies:
  - flynt

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true
  args:
  - --quiet
  - --apply
  - --line-width
  - '100'

black:
  name: black
  language: system
  entry: black
  require_serial: true
  args:
  - --quiet

blacken-docs:
  name: blacken-docs
  language: system
  entry: blacken-docs
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - push

tests:
  name: run tests
  entry: pytest -v
  language: system
  stages:
  - push

merged dbusiface from master
  guake/dbusiface.py
Due: flynt, isort, black, flake8, tests

merged dialogs from master keeping fixes for dialogs
  guake/dialogs.py
Due: flynt, isort, black, flake8, tests

merged globals from master keeping fixes and extra regexes for more robust file recognition
  guake/globals.py
Due: flynt, isort, black, flake8, tests

merged gsettings from master and keeping fix for schema= variable
  guake/gsettings.py
Due: flynt, isort, black, flake8, tests

merged guake_app from master keeping fixes
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

merged guake_logging. from master
  guake/guake_logging.py
Due: flynt, isort, black, flake8, tests

merged __init__ from master
  guake/__init__.py
Due: flynt, isort, black, flake8, tests

merged keybindings from master keeping fix for log.warning
  guake/keybindings.py
Due: flynt, isort, black, flake8, tests

merged main from master keep OS TERM fix
  guake/main.py
Due: flynt, isort, black, flake8, tests

linted keybindings
  guake/keybindings.py
Due: flynt, isort, black, flake8, tests

Proposed new layout for the pref dialog
  guake/data/prefs.glade
Due: none

Fix errors that occur before preferences file population, and examples
  guake/data/prefs.glade
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Add files via upload
  guake/data/prefs.glade
Due: none

merged contributing user tests from master
  docs/source/contributing/hacking.rst
  docs/source/user/faq.rst
  docs/source/user/features.rst
  docs/source/user/gtk3.rst
  docs/source/user/installing.rst
  guake/tests/__init__.py
  guake/tests/test_guake.py
  guake/tests/test_quick_open.py
Due: flynt, isort, black, blacken-docs, flake8, tests

merged menus from master
  guake/menus.py
Due: flynt, isort, black, flake8, tests

merged contributing user tests from master
  guake/tests/__init__.py
Due: flynt, isort, black, flake8, tests

merged palettes from master keep enhancement to load themes
  guake/palettes.py
Due: flynt, isort, black, flake8, tests

merged paths.py.ini from master
  guake/paths.py.in
Due: none

merged prefs.py.ini from master
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

merged settings.py from master
  guake/settings.py
Due: flynt, isort, black, flake8, tests

merged simplegladeapp.py from master
  guake/simplegladeapp.py
Due: flynt, isort, black, flake8, tests

merged split_utils.py from master
  guake/split_utils.py
Due: flynt, isort, black, flake8, tests

merged support.py from master
  guake/support.py
Due: flynt, isort, black, flake8, tests

merged theme.py from master
  guake/theme.py
Due: flynt, isort, black, flake8, tests

merged traslations from master
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/id.po
  po/nb.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Due: none

merged AUTHORS releasenotes/* from master
  AUTHORS
  releasenotes/config.yaml
  releasenotes/notes/add-background-image-665c62a1cbb461c3.yaml
  releasenotes/notes/add-galizur-color-theme-4c10120fb8dd66b9.yaml
  releasenotes/notes/add-system-default-theme-detection-f2fa7918948e0135.yaml
  releasenotes/notes/add_copy_on_select-ab84ad18a0576207.yaml
  releasenotes/notes/add_new_gruvbox_dark_fix_gruvbox-d7701ffff18a5156.yaml
  releasenotes/notes/add_tabs_in_keyboard_shortcuts-734a990b584dd349.yaml
  releasenotes/notes/auto-hide-tabbar-e0809d4f550c970d.yaml
  releasenotes/notes/fix-config-reload-when-set-workspace-770da70de54009f3.yaml
  releasenotes/notes/fix-gdk-backend-override-8772f455954e702c.yaml
  releasenotes/notes/fix_ignored_show_scrollbar_when_splitting-e860e0324ac97efc.yaml
  releasenotes/notes/fix_missing_schema_on_upgrade-7820ae1e4af570e5.yaml
  releasenotes/notes/fix_move_window_to_correct_coordinates_before_maximising-b5f124f36ff8d796.yaml
  releasenotes/notes/fix_prompt_when_close_tab-c808afd378a1b33a.yaml
  releasenotes/notes/fix_right_click_with_invalid_custom_commands-a3fa9541ea3f894b.yaml
  releasenotes/notes/fix_search_vte0.46-b92145bc1e572521.yaml
  releasenotes/notes/fix_trailing_punctuation_in_urls-5d9903dc2005bf2f.yaml
  releasenotes/notes/revive_GUAKE_TAB_UUID-1767775341f93c97.yaml
Due: none

merged bootstrap-dev-debian.sh from master
  scripts/bootstrap-dev-debian.sh
Due: none

merged dotfiles and root files from master
  .editorconfig
  .flake8
  .gitignore
  .pylintrc
  Makefile
  Pipfile
  Pipfile.lock
  README.rst
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
Due: flynt, isort, black, blacken-docs, flake8, tests

merged terminal.py from master
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

merged utils.py from master
  guake/utils.py
Due: flynt, isort, black, flake8, tests

merged notebook.py from master keeping fixes
  guake/notebook.py
Due: flynt, isort, black, flake8, tests

merged guake_app.py f string in search query
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

merged dialogs.py strings from master using f keeping fixes
  guake/dialogs.py
Due: flynt, isort, black, flake8, tests

merged callbacks.py string using f from master
  guake/callbacks.py
Due: flynt, isort, black, flake8, tests

got it to compiling version that can build Fedora 34
  AUTHORS
  Pipfile.lock
  guake/__init__.py
  guake/boxes.py
  guake/callbacks.py
  guake/common.py
  guake/dialogs.py
  guake/globals.py
  guake/guake_app.py
  guake/main.py
  guake/prefs.py
  guake/simplegladeapp.py
  guake/support.py
  guake/terminal.py
  guake/tests/test_guake.py
  guake/theme.py
  guake/utils.py
  requirements-dev.txt
  requirements.txt
Due: flynt, isort, black, flake8, tests

got it to compiling version that can build Fedora 34 run lint
  guake/boxes.py
Due: flynt, isort, black, flake8, tests

Fix ci
  .github/workflows/ci.yml
Due: none

Move common log messages to debug
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Add manjaro installation section
  docs/source/user/installing.rst
Due: blacken-docs

Path conditions:
  flynt: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst)
  flake8: any of: \.py$
  tests: any of: \.py$
