Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

bugfix: sessions save error and some warnings from make tests
  guake/dialogs.py
  guake/notebook.py
  releasenotes/notes/fix_sessions_save-75bd2954cf74cf4b.yaml
Due: flynt, isort, black, flake8, tests

bugfix: adjusted files again to pass tests
  Pipfile.lock
  guake/boxes.py
  guake/customcommands.py
  guake/notebook.py
  po/it.po
Due: flynt, isort, black, flake8, tests

bugfix: fixed typo focussed to focused
  guake/dialogs.py
Due: flynt, isort, black, flake8, tests

bugfix: filter overshadowed renamed to local filteru
  guake/dialogs.py
Due: flynt, isort, black, flake8, tests

added pr fix: #1761 follows mouse focus when have 2 monitors
  guake/utils.py
Due: flynt, isort, black, flake8, tests

added pr Fix ignored Show scrollbar after spliting vertically #1771
  guake/boxes.py
Due: flynt, isort, black, flake8, tests

added pr implemented custom themes folder prototype #1767
  guake/palettes.py
Due: flynt, isort, black, flake8, tests

added pr Moving window to correct coordinates before maximizing #1765
  guake/utils.py
Due: flynt, isort, black, flake8, tests

added pr Add background image #1604
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/gsettings.py
  guake/guake_app.py
  guake/notebook.py
  guake/palettes.py
  guake/prefs.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

ran linter make style check reno-lint test
  guake/gsettings.py
  guake/guake_app.py
  guake/notebook.py
  guake/palettes.py
  guake/prefs.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

ran linter make style check reno-lint test
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Add .deepsource.toml
  .deepsource.toml
Due: none

Update `session.json` when directory changed, not terminal title changed
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Add SLUG
  releasenotes/notes/fragment_name-9338b9eaa7544152.yaml
Due: none

Update coding style by black
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Check terminal directory change first
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

adds shades of purple theme
  guake/palettes.py
Due: flynt, isort, black, flake8, tests

adds release notes per PR template
  releasenotes/notes/add-shades-of-purple-theme-c7829d92d4dc6b32.yaml
Due: none

ran linter and it adjusted spacing
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

ran linter and it added some spacing
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Fixed a small Typo in readme
  README.rst
Due: blacken-docs

Fix web search
  guake/callbacks.py
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

fix: #1761 update to avoid switch when last window minimized.
  guake/utils.py
Due: flynt, isort, black, flake8, tests

changed new tab icon to be identical to gnome terminal
  guake/notebook.py
Due: flynt, isort, black, flake8, tests

added regex to support spaces in quick-open-links
  guake/globals.py
Due: flynt, isort, black, flake8, tests

Add: close tab from d-bus interface
  guake/dbusiface.py
  releasenotes/notes/d-bus-close-tab-b9abd4c8792e60ef.yaml
Due: flynt, isort, black, flake8, tests

updated release notes
  releasenotes/notes/bugfix-quick-open-link-44861b51e524ca44.yaml
Due: none

Allow reset of show-hide hot key
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Add release note
  releasenotes/notes/Allow-reset-of-show-hide-hot-key-f1a2b04c9b3787a0.yaml
Due: none
