Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

setup.cfg: migrate some options off of pbr
  setup.cfg
Due: none

use importlib_metadata rather than pbr to introspect versions at runtime
  guake/__init__.py
  requirements.txt
Due: flynt, isort, black, flake8, tests

setup.cfg: directly specify needed install requirements
  Makefile
  setup.cfg
Due: none

setup.cfg: migrate setup_requires from python code to declarative config
  setup.cfg
  setup.py
Due: flynt, isort, black, flake8, tests

Update list of supported versions in setup.cfg
  setup.cfg
Due: none

Fix prompt on close tab
  guake/notebook.py
  releasenotes/notes/fix_prompt_when_close_tab-c808afd378a1b33a.yaml
Due: flynt, isort, black, flake8, tests

Add .deepsource.toml
  .deepsource.toml
Due: none

Setting up direnv
  .flake8
  .gitignore
Due: none

Regenerate slug file and formatting
  guake/prefs.py
  releasenotes/notes/add-system-default-theme-detection-f2fa7918948e0135.yaml
Due: flynt, isort, black, flake8, tests

Clean up low hanging flake8 fruit, set a checkbox on startup
  guake/prefs.py
  releasenotes/notes/add_system_default_theme_detection-345e742c9c13774b.yaml
Due: flynt, isort, black, flake8, tests

Add auto-system default theme option
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/prefs.py
  guake/theme.py
Due: flynt, isort, black, flake8, tests

Protect next() from edge cases
  guake/boxes.py
Due: flynt, isort, black, flake8, tests

Combine if statements
  guake/boxes.py
  guake/prefs.py
  guake/split_utils.py
  guake/terminal.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Remove unnecessary generator
  guake/theme.py
Due: flynt, isort, black, flake8, tests

Tuple literal instead of tuple()
  guake/gsettings.py
Due: flynt, isort, black, flake8, tests

Combine comparisons with in
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Remove asserts
  guake/prefs.py
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Remove dead functions, replace pass with NotImplementedError
  guake/boxes.py
  guake/simplegladeapp.py
Due: flynt, isort, black, flake8, tests

Minor fixes for app & doc strings
  docs/source/user/faq.rst
  docs/source/user/features.rst
  docs/source/user/gtk3.rst
  docs/source/user/installing.rst
  guake/data/prefs.glade
  guake/main.py
  guake/menus.py
  guake/prefs.py
Due: flynt, isort, black, blacken-docs, flake8, tests

moving window to correct coordinates before maximizing
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Add release notes file
  releasenotes/notes/fix_move_window_to_correct_coordinates_before_maximising-b5f124f36ff8d796.yaml
Due: none

Add release notes file
  releasenotes/notes/add_custom_themes_folder-22021b3af416137c.yaml
Due: none

implemented custom themes folder prototype
  guake/palettes.py
Due: flynt, isort, black, flake8, tests

Convert int mode to ImageLayoutMode IntEnum
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Reset when passing blank filename into load_from_file
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Add background image manager to handle background image in guake
  guake/guake_app.py
  guake/notebook.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Add background image prefs
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/gsettings.py
  guake/guake_app.py
  guake/prefs.py
  releasenotes/notes/add-background-image-665c62a1cbb461c3.yaml
Due: flynt, isort, black, flake8, tests

Fix config didn't load when set_workspace
  guake/notebook.py
  releasenotes/notes/fix-config-reload-when-set-workspace-770da70de54009f3.yaml
Due: flynt, isort, black, flake8, tests

Force re-draw when changing BackgroundImageManager settings
  guake/guake_app.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Pylint
  guake/gsettings.py
  guake/guake_app.py
  guake/prefs.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Cache loaded background image when load the same file
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Prevent file not exist for background image file
  guake/gsettings.py
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Update guake/data/org.guake.gschema.xml
  guake/data/org.guake.gschema.xml
Due: none

Add back os import
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Make black
  guake/gsettings.py
  guake/guake_app.py
  guake/notebook.py
  guake/prefs.py
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Remake slug file and formatting
  guake/notebook.py
  guake/prefs.py
  releasenotes/notes/auto-hide-tabbar-e0809d4f550c970d.yaml
Due: flynt, isort, black, flake8, tests

Add hide tab bar when only one tab option
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/gsettings.py
  guake/notebook.py
  guake/prefs.py
  releasenotes/notes/auto_hide_tabbar-0a20cd95984dfd91.yaml
Due: flynt, isort, black, flake8, tests

Add test case for hide-tabs-if-one-tab
  guake/tests/test_guake.py
Due: flynt, isort, black, flake8, tests
