Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

Allow reset of show-hide hot key
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Add release note
  releasenotes/notes/Allow-reset-of-show-hide-hot-key-f1a2b04c9b3787a0.yaml
Due: none

update Readme
  README.rst
Due: blacken-docs

Fix ineffective override of GDK_BACKEND envvar
  guake/main.py
  releasenotes/notes/fix-gdk-backend-override-8772f455954e702c.yaml
Due: flynt, isort, black, flake8, tests

guake/prefs.py - Allow reset of show-hide hot key
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

guake/globals.py - Added regex to support spsaces in quick-open-links
  guake/globals.py
  releasenotes/notes/Allow-reset-of-show-hide-hot-key-f1a2b04c9b3787a0.yaml
  releasenotes/notes/bugfix-quick-open-link-44861b51e524ca44.yaml
Due: flynt, isort, black, flake8, tests

guake/guake_app.py - guake/palettes.py - guake/prefs.py - Added purple theme, fixed google web search, session read fix
  .python-version
  data/Makefile
  data/Makefile.in
  data/icons/Makefile
  data/icons/Makefile.in
  data/pixmaps/Makefile
  data/pixmaps/Makefile.in
  guake/guake_app.py
  guake/palettes.py
  guake/prefs.py
  releasenotes/notes/add-shades-of-purple-theme-c7829d92d4dc6b32.yaml
  releasenotes/notes/fragment_name-9338b9eaa7544152.yaml
Due: flynt, isort, black, flake8, tests

guake/notebook.py - changed new tab icon to be identical to gnome terminal
  guake/notebook.py
Due: flynt, isort, black, flake8, tests

guake/dbusiface.py - Add: close tab from d-bus interface
  guake/dbusiface.py
  releasenotes/notes/d-bus-close-tab-b9abd4c8792e60ef.yaml
Due: flynt, isort, black, flake8, tests

README.rst - update Readme #1819
  README.rst
Due: blacken-docs

Pipfile.lock - Bump cryptography from 2.8 to 3.2 #1809
  Pipfile.lock
Due: none

guake/main.py - Fix ineffective override of GDK_BACKEND envvar #1821
  guake/main.py
  releasenotes/notes/fix-gdk-backend-override-8772f455954e702c.yaml
Due: flynt, isort, black, flake8, tests

added executable files from master
  Makefile.in
  config.guess
  config.h
  config.h.in
  config.log
  config.status
  config.sub
  no-global-site-packages.txt
  po/Makefile
  po/Makefile.in
  releasenotes/notes/fix-gdk-backend-override-8772f455954e702c.yaml
Due: none

run lint
  guake/prefs.py
  no-global-site-packages.txt
Due: flynt, isort, black, flake8, tests

run lint
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

removed Fix ineffective override of GDK_BACKEND envvar
  guake/main.py
Due: flynt, isort, black, flake8, tests

added build script to make building and rebuilding easier
  build_guake.bash
Due: none

Add "Galizur" Console Theme into guake/palettes.py
  guake/palettes.py
  releasenotes/notes/add-galizur-color-theme-4c10120fb8dd66b9.yaml
Due: flynt, isort, black, flake8, tests

added added regex for bash errors Filename: line:
  guake/globals.py
  guake/main.py
Due: flynt, isort, black, flake8, tests

added added spanish regex readers
  guake/globals.py
Due: flynt, isort, black, flake8, tests

added added linea con acento
  guake/globals.py
Due: flynt, isort, black, flake8, tests

added added patterns for line work
  guake/globals.py
Due: flynt, isort, black, flake8, tests

On runtime, require setuptools, not the entire pbr
  Pipfile
Due: none

fixed fixed accent for spanish regex
  guake/globals.py
Due: flynt, isort, black, flake8, tests

fixed fixed regex spanish and added test bash script specified version 3.5.9 in
  Pipfile
Due: none

fixed regex in spanish and added test bash script specified version 3.5.9 in Pipfile
  Pipfile.lock
  build_guake.bash
  build_guake_test.bash
  guake/globals.py
Due: flynt, isort, black, flake8, tests

Minor typo in README
  README.rst
Due: blacken-docs

Remove unused imports to avoid runtime dependency on setuptools
  guake/paths.py.in
Due: none

Replace Markdown syntax with RST syntax in Fedora section
  docs/source/user/installing.rst
Due: blacken-docs

fix: #1761 guake follows mouse focus when have 2 monitors
  guake/utils.py
Due: flynt, isort, black, flake8, tests

fix: #1761 update to avoid switch when last window minimized.
  guake/utils.py
Due: flynt, isort, black, flake8, tests

added regex for Svelte vite errors html starting type in globals.py
  guake/globals.py
Due: flynt, isort, black, flake8, tests

added opening from current folder in QUICK_OPEN now it resolves to current working dir correctly
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

merged the search fix from master
  guake/callbacks.py
Due: flynt, isort, black, flake8, tests

added regex for File:
  guake/globals.py
Due: flynt, isort, black, flake8, tests

Setting up direnv
  .flake8
  .gitignore
Due: none
