Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

Fix CI
  .github/workflows/ci.yml
Due: none

Fix upload to pypi test
  .github/workflows/ci.yml
  setup.py
Due: flynt, isort, black, flake8, tests

Fix translation file inclusion
  MANIFEST.in
  setup.cfg
Due: none

ci: enable upload to pypi
  .github/workflows/release.yml
  releasenotes/notes/ci-893223bb47ff59de.yaml
Due: none

Implement --is-version option
  guake/dbusiface.py
  guake/guake_app.py
  guake/main.py
Due: flynt, isort, black, flake8, tests

Adhered to style guides and added release note
  guake/guake_app.py
  releasenotes/notes/feature_isvisible_option-6f15b5f7d3341e7e.yaml
Due: flynt, isort, black, flake8, tests

Moved Option closer to related options and trimmed release notes
  guake/main.py
  releasenotes/notes/feature_isvisible_option-6f15b5f7d3341e7e.yaml
Due: flynt, isort, black, flake8, tests

Reinstate double click to open tabs
  guake/notebook.py
  releasenotes/notes/restore_double_click_open_tab-c4dfc824ce4b5e85.yaml
Due: flynt, isort, black, flake8, tests

Fix deepsource complaints
  guake/guake_app.py
  guake/notebook.py
Due: flynt, isort, black, flake8, tests

Generate release notes for 3.8.2
  Makefile
  NEWS.rst
Due: blacken-docs

Translated using Weblate (German)
  po/de.po
Due: none

Translated using Weblate (Polish)
  po/pl.po
Due: none

Translated using Weblate (Swedish)
  po/sv.po
Due: none

Translated using Weblate (Croatian)
  po/hr.po
Due: none

Translated using Weblate (Russian)
  po/ru.po
Due: none

Translated using Weblate (Indonesian)
  po/id.po
Due: none

Translated using Weblate (Turkish)
  po/tr.po
Due: none

Translated using Weblate (Dutch)
  po/nl.po
Due: none

Translated using Weblate (Chinese (Simplified))
  po/zh_CN.po
Due: none

chore: update PO
  .gitignore
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Due: none

doc: update NEWS.rst
  Makefile
  NEWS.rst
  releasenotes/notes/feature_isvisible_option-6f15b5f7d3341e7e.yaml
  releasenotes/notes/translation-84dffa35f8945622.yaml
Due: blacken-docs
