Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

Translated using Weblate (Turkish)
  po/tr.po
Due: none

build: do not generate req in github build
  Makefile
Due: none

ci: force version of package from the tag
  .github/workflows/release.yml
Due: none

fix: process
  .github/workflows/release.yml
Due: none

doc: release notes for 3.8.5
  NEWS.rst
Due: blacken-docs

Fix custom label not working, #2044
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Add reno
  releasenotes/notes/fragment_name-5fb61d3dcb93170c.yaml
Due: none

fix fullscreen using pointer on several monitors
  guake/utils.py
  releasenotes/notes/bugfix-fullscreen-not-working-on-pointer-8fe1518e5e5dc67f.yaml
Due: flynt, isort, black, flake8, tests

Save layout when splitting/closing split panes
  guake/boxes.py
  guake/utils.py
  releasenotes/notes/save_subterminals-4d086becd64ffcfb.yaml
Due: flynt, isort, black, flake8, tests

Reintroduce execute_command dbus hook
  .flake8
  guake/dbusiface.py
  guake/globals.py
  guake/guake_app.py
  guake/main.py
  releasenotes/notes/reinstate_execute_command-ab006ac3eb128b30.yaml
Due: flynt, isort, black, flake8, tests

Fix typos in FAQ
  docs/source/user/faq.rst
Due: blacken-docs

allow receiving url arg
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

add get_link_under_terminal_cursor method
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

add open_link_under_terminal_cursor method
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Add TERM_PROGRAM environment variable like other well-known terminals for shell run commands
  guake/main.py
  releasenotes/notes/[set_term_program_name]-14f1c2e5efddde2d.yaml
Due: flynt, isort, black, flake8, tests

fix: return if both self.found_link and url are invalid
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

add binding for open_link_under_terminal_cursor
  guake/data/org.guake.gschema.xml
  guake/keybindings.py
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

style fix
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Revert keycode for keybinding change and resolve with alternate method
  guake/keybindings.py
  releasenotes/notes/back_to_keyvals-1d21d35a31568e26.yaml
Due: flynt, isort, black, flake8, tests

Make startup script non-blocking
  guake/main.py
  releasenotes/notes/make_startup_script_nonblocking-f73468e705fa712b.yaml
Due: flynt, isort, black, flake8, tests

Reassign the default keybinding for transparency up/down
  guake/data/org.guake.gschema.xml
  releasenotes/notes/reassign_transparency_shortcuts-15d7dccd6a7e5a75.yaml
Due: none

remove type hint
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

add release note for open link under term cursor
  releasenotes/notes/[Add_open_link_under_terminal_cursor_accelerator]-6bd83e590f8403d9.yaml
Due: none

Cleaning up deepsource complaints
  docs/source/conf.py
  guake/about.py
  guake/guake_app.py
  guake/main.py
  guake/simplegladeapp.py
  guake/terminal.py
  guake/theme.py
Due: flynt, isort, black, flake8, tests

Fix split terminal. Now it preverse the font scale during a vertical / horizontal split. Resolve issue #1747.
  guake/boxes.py
  guake/terminal.py
  releasenotes/notes/bugfix-bfcece2fed005b98.yaml
Due: flynt, isort, black, flake8, tests

Set terminal title with compute_tab_title() on new tab creation
  guake/guake_app.py
  guake/notebook.py
  releasenotes/notes/compute_tab_title-7e78635931219f69.yaml
Due: flynt, isort, black, flake8, tests
