Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

flynt:
  name: flynt
  entry: flynt
  language: python
  args:
  - --quiet
  - --line_length
  - '100'
  additional_dependencies:
  - flynt

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true
  args:
  - --quiet
  - --apply
  - --line-width
  - '100'

black:
  name: black
  language: system
  entry: black
  require_serial: true
  args:
  - --quiet

blacken-docs:
  name: blacken-docs
  language: system
  entry: blacken-docs
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - push

tests:
  name: run tests
  entry: pytest -v
  language: system
  stages:
  - push

Translated using Weblate (Croatian)
  po/hr.po
Due: none

Translated using Weblate (Swedish)
  po/sv.po
Due: none

Translated using Weblate (Russian)
  po/ru.po
Due: none

Translated using Weblate (German)
  po/de.po
Due: none

Translated using Weblate (Indonesian)
  po/id.po
Due: none

Translated using Weblate (Turkish)
  po/tr.po
Due: none

chore: update PO
  .gitignore
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/hr.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Due: none

doc: update NEWS.rst
  Makefile
  NEWS.rst
  releasenotes/notes/feature_isvisible_option-6f15b5f7d3341e7e.yaml
  releasenotes/notes/translation-84dffa35f8945622.yaml
Due: blacken-docs

Translated using Weblate (Chinese (Simplified))
  po/zh_CN.po
Due: none

Revert "doc: update NEWS.rst"
  Makefile
  NEWS.rst
  releasenotes/notes/feature_isvisible_option-6f15b5f7d3341e7e.yaml
  releasenotes/notes/translation-84dffa35f8945622.yaml
Due: blacken-docs

Revert "Revert "doc: update NEWS.rst""
  Makefile
  NEWS.rst
  releasenotes/notes/feature_isvisible_option-6f15b5f7d3341e7e.yaml
  releasenotes/notes/translation-84dffa35f8945622.yaml
Due: blacken-docs

ci: no pipeline on pull_request
  .github/workflows/ci.yml
Due: none

build: fix typos and yaml parsing error
  releasenotes/notes/feature_isvisible_option-6f15b5f7d3341e7e.yaml
  scripts/bootstrap-dev-debian.sh
Due: none

Fix arbitrary execution via dbus security flaw
  guake/dbusiface.py
  guake/guake_app.py
  releasenotes/notes/dbus_execution_security-fb7016c6bc40be5f.yaml
Due: flynt, isort, black, flake8, tests

Revert "ci: no pipeline on pull_request"
  .github/workflows/ci.yml
Due: none

Eliminate redundant terminal spawning
  guake/guake_app.py
  guake/notebook.py
  releasenotes/notes/eliminate-redundant-spawning-4584ba3107d196e5.yaml
Due: flynt, isort, black, flake8, tests

Generate release notes for 3.8.2
  NEWS.rst
  releasenotes/notes/translation-931a45cfe34f71ae.yaml
Due: blacken-docs

build: fix release notes generation
  NEWS.rst
  docs/source/project/release_notes.rst
  guake/guake_app.py
  releasenotes/notes/bugfix-guake_enable_wayland-5048964c25699a85.yaml
  releasenotes/notes/feature_isvisible_option-6f15b5f7d3341e7e.yaml
  releasenotes/notes/fix_default_font_when_creating_tabs-ab0f827aa4e3955c.yaml
  releasenotes/notes/fix_importlib-3da97c56e3fadc21.yaml
  releasenotes/notes/fragment_name-2a5a482a34398a59.yaml
  releasenotes/notes/restore_double_click_open_tab-c4dfc824ce4b5e85.yaml
Due: flynt, isort, black, blacken-docs, flake8, tests

Translated using Weblate (Dutch)
  po/nl.po
Due: none

build: fix official version computation
  Makefile
  requirements-dev.txt
  requirements.txt
Due: none

build: release notes
  NEWS.rst
Due: blacken-docs

build: remove yapf from git-hooks
  git-hooks/post-commit
Due: none

doc: write a release procedure
  docs/source/contributing/index.rst
  docs/source/contributing/release.rst
Due: blacken-docs

Path conditions:
  flynt: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst)
  flake8: any of: \.py$
  tests: any of: \.py$
