Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

flynt:
  name: flynt
  entry: flynt
  language: python
  args:
  - --quiet
  - --line_length
  - '100'
  additional_dependencies:
  - flynt

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true
  args:
  - --quiet
  - --apply
  - --line-width
  - '100'

black:
  name: black
  language: system
  entry: black
  require_serial: true
  args:
  - --quiet

blacken-docs:
  name: blacken-docs
  language: system
  entry: blacken-docs
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  stages:
  - push

tests:
  name: run tests
  entry: pytest -v
  language: system
  stages:
  - push

Fixed poetry-install-dev
  Makefile
Due: none

Added poetry-dynamic-versioning to the build process
  .travis.yml
  pyproject.toml
Due: none

Moved installation of poetry-dynamic-versioning to bootstrap-dev-pip.sh
  .travis.yml
  scripts/bootstrap-dev-pip.sh
Due: none

Let poetry-dynamic-versioning default against pep440
  pyproject.toml
Due: none

Adapt pattern setting of poetry-dynamic-versioning
  pyproject.toml
Due: none

Escape string
  pyproject.toml
Due: none

Try Ravis with pbr installed
  .travis.yml
Due: none

Added slug file.
  releasenotes/notes/Reimplemented-Refocus-6fdd3242caf8b388.yaml
Due: none

make update-po
  po/ca.po
  po/es.po
  po/sv.po
  po/tr.po
Due: none

install black
  Pipfile
  Pipfile.lock
  requirements-dev.txt
Due: none

Replace autopep8, yapf by black
  .flake8
  .yapf
  Makefile
  guake/__init__.py
  guake/about.py
  guake/boxes.py
  guake/callbacks.py
  guake/common.py
  guake/customcommands.py
  guake/dbusiface.py
  guake/dialogs.py
  guake/globals.py
  guake/gsettings.py
  guake/guake_app.py
  guake/guake_logging.py
  guake/guake_toggle.py
  guake/keybindings.py
  guake/main.py
  guake/menus.py
  guake/notebook.py
  guake/notifier.py
  guake/palettes.py
  guake/prefs.py
  guake/settings.py
  guake/simplegladeapp.py
  guake/split_utils.py
  guake/support.py
  guake/terminal.py
  guake/tests/test_about.py
  guake/tests/test_guake.py
  guake/tests/test_notebook.py
  guake/tests/test_quick_open.py
  guake/theme.py
  guake/utils.py
  pyproject.toml
Due: flynt, isort, black, flake8, tests

Translated using Weblate (Spanish)
  po/es.po
Due: none

Translated using Weblate (Swedish)
  po/sv.po
Due: none

Translated using Weblate (Turkish)
  po/tr.po
Due: none

Translated using Weblate (Polish)
  po/pl.po
Due: none

Translated using Weblate (Dutch)
  po/nl.po
Due: none

Translated using Weblate (Catalan)
  po/ca.po
Due: none

Rewrite reimplement-refocus-6fdd3242caf8b388.yaml
  releasenotes/notes/Reimplemented-Refocus-6fdd3242caf8b388.yaml
  releasenotes/notes/reimplement-refocus-6fdd3242caf8b388.yaml
Due: none

Update guake_app.py
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Removed trailing spaces
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

handle gnome-shell dock
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Mention original author
  README.rst
Due: blacken-docs

Add MAINTAINERS file
  MAINTAINERS
Due: none

Split maintainers from original author
  MAINTAINERS
Due: none

fix ubuntu version comparison
  Pipfile
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

issue #244 appstream file
  Makefile
  guake/data/guake.desktop.metainfo.xml
Due: none

issue #244 appstream file
  releasenotes/notes/appstream_metainfo-701ce86f95fc00a0.yaml
Due: none

refactor is_using_gnome
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Fix ignored "Show scrollbar" after spliting vertically
  guake/boxes.py
Due: flynt, isort, black, flake8, tests

fix: #1761 guake follows mouse focus when have 2 monitors
  guake/utils.py
Due: flynt, isort, black, flake8, tests

Fix sessions save error and some warnings from make tests
  Pipfile.lock
  guake/boxes.py
  guake/customcommands.py
  guake/dialogs.py
  guake/gsettings.py
  guake/guake_app.py
  guake/keybindings.py
  guake/notebook.py
  guake/prefs.py
  po/it.po
Due: flynt, isort, black, flake8, tests

Path conditions:
  flynt: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst)
  flake8: any of: \.py$
  tests: any of: \.py$
