Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

Add cell height/width scale setup for terminal
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Add line height/width scale adjustment in prefs.glade
  guake/data/prefs.glade
Due: none

Add prefs handling for cell height/width scale
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Add release note file for adjustable line height/width
  releasenotes/notes/add_character_height_and_width_adjustment-6358b6ca88318af9.yaml
Due: none

feature #1926 added is_visible returning boolean Guake show/hide status
  guake/main.py
  releasenotes/notes/support-cbf326139f76ad7d.yaml
Due: flynt, isort, black, flake8, tests

Install required package only
  scripts/bootstrap-dev-debian.sh
Due: none

Keyboard shortcut fixes
  guake/data/org.guake.gschema.xml
  guake/keybindings.py
  releasenotes/notes/keybinding_fixes-51d91ab3004cdfa3.yaml
Due: flynt, isort, black, flake8, tests

Provide both old and new next/prev tab shortcuts
  guake/data/org.guake.gschema.xml
  guake/keybindings.py
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

use keycode for keybinding
  guake/keybindings.py
Due: flynt, isort, black, flake8, tests

remove unused Gdk import
  guake/keybindings.py
Due: flynt, isort, black, flake8, tests

Fix system font only being applied to last tab
  guake/gsettings.py
  releasenotes/notes/fix_default_font_when_creating_tabs-ab0f827aa4e3955c.yaml
Due: flynt, isort, black, flake8, tests

change notes
  releasenotes/notes/use_keycode_for_keybindings-a4fb151a046a28c9.yaml
Due: none

Translated using Weblate (Swedish)
  po/sv.po
Due: none

Translated using Weblate (Indonesian)
  po/id.po
Due: none

Translated using Weblate (German)
  po/de.po
Due: none

ci: enable upload to pypi
  .github/workflows/release.yml
  releasenotes/notes/ci-893223bb47ff59de.yaml
Due: none

Translated using Weblate (Turkish)
  po/tr.po
Due: none

Translated using Weblate (Russian)
  po/ru.po
Due: none

Translated using Weblate (Croatian)
  po/hr.po
Due: none

Translated using Weblate (Polish)
  po/pl.po
Due: none

Translated using Weblate (Dutch)
  po/nl.po
Due: none

chore: minor clean
  Makefile
  releasenotes/notes/fixes-9338b9eaa7544152.yaml
  releasenotes/notes/translations-29511913a621537a.yaml
  scripts/bootstrap-dev-pip.sh
Due: none

Update news file and remove extraneous lines from reno files
  NEWS.rst
  releasenotes/notes/add-system-default-theme-detection-f2fa7918948e0135.yaml
  releasenotes/notes/auto-hide-tabbar-e0809d4f550c970d.yaml
Due: blacken-docs

Add instructions for PPA install
  docs/source/user/installing.rst
Due: blacken-docs

Remove GDK_BACKEND to force x11
  guake/main.py
  guake/terminal.py
Due: flynt, isort, black, flake8, tests

Add pbr fallback
  guake/__init__.py
  releasenotes/notes/fix_importlib-3da97c56e3fadc21.yaml
Due: flynt, isort, black, flake8, tests

Manually set encoding if system locale is absent
  guake/main.py
  releasenotes/notes/locale_fallback-080d41dbd0c89290.yaml
Due: flynt, isort, black, flake8, tests

Replace ｜ with non unicode dependent |
  guake/menus.py
Due: flynt, isort, black, flake8, tests

Changed default keybindig to toggle hide on lose focus
  guake/data/org.guake.gschema.xml
Due: none

changed to python 3.10.0 version
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .python-version
  Pipfile
  Pipfile.lock
  requirements.txt
  setup.cfg
Due: none

ran build process
  AUTHORS
Due: none
