Repository Guake/guake: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, isort, black, blacken-docs, flake8, tests

.pre-commit-config.yaml:

# https://pre-commit.com/
default_language_version:
    python: python3.6
repos:

# modernizing syntax
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.26.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: flynt
        name: flynt
        entry: flynt
        types: [python]
        language: python
        args: [--quiet, --line_length, "100"]
        additional_dependencies:
        -   flynt

# isort
-   repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
    -   id: seed-isort-config
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types: [python]
        args: [--quiet, --apply, --line-width, "100"]

# black
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        require_serial: true
        types: [python]
        args: [--quiet]
-   repo: local
    hooks:
    -   id: blacken-docs
        name: blacken-docs
        language: system
        entry: blacken-docs
        require_serial: true
        types: [file]
        files: \.(rst)

# flake8
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        stages: [push]

# running tests
-   repo: local
    hooks:
    -   id: tests
        name: run tests
        entry: pytest -v
        language: system
        types: [python]
        stages: [push]

Set SETUPTOOLS_SCM_PRETEND_VERSION=3.9.0 for python 2
  Makefile
Due: none

Fallback if dconf is not installed
  guake/settings.py
Due: flynt, isort, black, flake8, tests

Introduced new command-line option for selecting and closing tabs via tab-label
  guake/dbusiface.py
  guake/guake_app.py
  guake/main.py
  guake/notebook.py
Due: flynt, isort, black, flake8, tests

Added new slug file, #1835, sem-ver: feature
  releasenotes/notes/close_select_tab_by_label-d682c1ffde8708f7.yaml
Due: none

Fix 0 timestamp #1857 #1950
  guake/guake_app.py
Due: flynt, isort, black, flake8, tests

Add reno file
  releasenotes/notes/timestamp_fix-0c09abd5b0d7205c.yaml
Due: none

Don't create two tabs when -n and -e are both specified
  guake/main.py
  releasenotes/notes/no_extra_command_tab-6c733152c26a3b74.yaml
Due: flynt, isort, black, flake8, tests

Fix Notifier compatibility
  guake/notifier.py
Due: flynt, isort, black, flake8, tests

search engine can be set to preference
  guake/callbacks.py
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

ran black
  docs/source/conf.py
  guake/callbacks.py
  scripts/all-sitedirs-in-prefix.py
Due: flynt, isort, black, flake8, tests

fixed issues pointed out
  guake/callbacks.py
  guake/data/prefs.glade
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Added slug file
  releasenotes/notes/search_engine_option-14970e6e9b338449.yaml
Due: none

Add Neeva.com search engine
  guake/callbacks.py
Due: flynt, isort, black, flake8, tests

create custom search engine input
  guake/callbacks.py
  guake/data/org.guake.gschema.xml
  guake/data/prefs.glade
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

added slug file
  releasenotes/notes/custom_search_on_web_engine-9f0da9d6c4c3882c.yaml
Due: none

fixed slug file
  releasenotes/notes/custom_search_on_web_engine-9f0da9d6c4c3882c.yaml
Due: none

using ENGINES dict to check if 'Custom' option is selected plus added Neeva search engine
  guake/callbacks.py
  guake/data/prefs.glade
  guake/globals.py
  guake/prefs.py
Due: flynt, isort, black, flake8, tests

Add hotkey to open new tab in same directory
  guake/data/org.guake.gschema.xml
  guake/guake_app.py
  guake/keybindings.py
  guake/notebook.py
  guake/prefs.py
  releasenotes/notes/new-tab-cwd-hotkey-0e9db9f37b994000.yaml
Due: flynt, isort, black, flake8, tests

Include names of processes in PromptQuitDialog
  guake/dialogs.py
  guake/globals.py
  guake/guake_app.py
  guake/notebook.py
  guake/tests/test_utils.py
  guake/utils.py
  releasenotes/notes/prompt-quit-process-names-32a4e1b37eb36037.yaml
Due: flynt, isort, black, flake8, tests

requirements: add additional packages
  requirements-dev.txt
Due: none

makefile: remove venv recursively
  Makefile
Due: none

Add pin button to temporarily prevent hiding
  guake/guake_app.py
  guake/notebook.py
  releasenotes/notes/pin-button-8b85a8fd0392c3d0.yaml
Due: flynt, isort, black, flake8, tests

Add pre-commit config and apply all fixes
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  MANIFEST.in
  Makefile
  Pipfile
  Pipfile.lock
  docs/source/contributing/dev_env.rst
  docs/source/index.rst
  git-hooks/post-commit
  guake/callbacks.py
  guake/data/guake.desktop.metainfo.xml
  guake/keybindings.py
  guake/prefs.py
  releasenotes/notes/[Add_open_link_under_terminal_cursor_accelerator]-6bd83e590f8403d9.yaml
  releasenotes/notes/bugfix-bfcece2fed005b98.yaml
  releasenotes/notes/execute_in_new_tab-6161bba1822b644c.yaml
  releasenotes/notes/file_open_regex-1a6db403d54601e0.yaml
  releasenotes/notes/save_subterminals-4d086becd64ffcfb.yaml
  scripts/all-sitedirs-in-prefix.py
  scripts/test-exception.py
Due: flynt, isort, black, blacken-docs, flake8, tests

Add hotkey to select all text
  guake/data/org.guake.gschema.xml
  guake/guake_app.py
  guake/keybindings.py
  guake/prefs.py
  releasenotes/notes/select-all-hotkey-92ca2a0014ca25b1.yaml
Due: flynt, isort, black, flake8, tests

Bump CI versions
  .github/workflows/ci.yml
  setup.cfg
Due: none

String formatting version numbers
  .github/workflows/ci.yml
Due: none
